 body {
     padding: 0;
     margin: 0;
     background-color: #202124;
    color:white ;
    font-family: 'Montserrat', sans-serif;   
 }

 h2 h5 {
     font-weight: 500;
 }
 
 p{
     font-weight: 400;
 }

 footer  {
     font-family: 'Commissioner', sans-serif ;
       
 }
.navbar a {
    font-family: 'Commissioner', sans-serif;;
}

 .icons-section{
     background-color: #00838f;
     height: 100px;
     width: 200px;
     border-radius: 50%;
     margin: 0 20%;
     border: white ridge;
    
 }

 
 .icons-section:hover{
	border: solid 2px white; 
	color:#00838f;
	background-color: #005662;
    box-shadow: #00838f #00838f;
    cursor: pointer;
}
.icons-section i {
    color: white;
}

 .fas {
     margin: 10%;

 }
.card img{
    height: 140px;
}

.card{
    margin-bottom: 2rem;
    background-color: #005662;
}

.card-text{
    height: 55%;
}

.modales{
color:#202124 ;
font-size: 400;
}


h2 {
    text-align: center;
padding: 0 0 1rem 0;
  border-bottom:  #005662 solid;
  font-family: 'Orelega One', cursive   

}
footer li {
    list-style-type: none;
    padding: 0.5rem;

}
footer li a i{
    color: white;

}
footer h4{
    border: none;
}
footer div {
    justify-content: space-between;
}

footer{
    
    background-color: #005662;
}
.modales p{
    font-size: 700;
}

@media only screen and (min-width: 320px) and (max-width: 736px){}

    footer{
    width: 100%;
    align-content: center;
    text-align: center;
 
    }
   
    
    footer ul {
        margin: 0 0 0 2rem;
    }

